* {
  box-sizing: border-box;
}

textarea,
input,
button {
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e2e2e2;

  button {
    border: none;
    background: none;

    &:active {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      width: auto;
    }
  }
}
